extends layout

block content
  nav#top-bar
    div.row
      div.small-6.small-offset-3.medium-4.medium-offset-4.large-4.large-offset-4.columns
         h1: a(href='/'): img(src='/img/top_bar_logo@2x.png')
      div.small-3.medium-4.large-4.columns
        div.top_bar_user
          img#profile_pic(src='#{user.twitter.profileImageURL}')
          a(href='#', data-dropbown='sub_menu')
            span#username #{user.twitter.displayName}
          ul#sub_menu.f-dropdown(data-dropdown-content)
            li: a(href='#') Sign out
          a.small(href='/logout', style='color: #ccc;')  (logout)
      label(for='new-todo')
        div#add_task
          span.icon-plus-1
  div#container(ng-controller='MainController')
    div#write
      form(ng-submit='createTodo()')
        input#new-todo(type='text', placeholder='Add a new Task', autofocus='autofocus' , ng-model="formData.text")
    div.row
      div.small-12.medium-12.large-6.large-centered.columns
        div#box
          div.container
            div#list_item
              //- input#toggle-all(type='checkbox', style='display: none;')
              //- label(for='toggle-all', style='display:none;')

              ul#todo-list
                li#draggable.item(ng-repeat='todo in todos', ng-class="{done: todo.done, editing: todo == editedTodo}")
                  div.item_check(ng-class="{item_check_active: todo.done}")
                    div.text-center
                      i.icon-ok
                  div.view.item_content(ng-click='toggleDone(todo); $event.stopPropagation();', ng-dblClick="editTodo(todo); $event.stopPropagation();" ,ng-class="{item_content_active: todo.done}")
                    label {{ todo.text }}
                    a.destroy(ng-click='deleteTodo(todo); $event.stopPropagation();')
                  form(ng-submit='doneEditing(todo)')
                    input.edit(ng-model='todo.text', ng-blur='doneEditing(todo)', ng-class='{edit_active: todo.done}' todo-scape='revertEditing(todo)', todo-focus='todo == editedTodo')


                  //- input.edit(type='text', value='{{ todo.text }}')

      //- p.
      //-   todos count: {{ todos.length }}

      //- form
      //-   input(type='text', placeholder='enter a todo', ng-model='formData.text')
      //-   button(type='submit', ng-click='createTodo()') Submit

      //- ul
      //-   li(ng-repeat="todo in todos").
      //-     {{ todo.text }}
