extends layout

block content
  nav#top-bar
    h1: a(href='/'): img(src='/img/top_bar_logo@2x.png')
    p(style='font-size: 12px; margin-bottom:0; float: right; color: #FFFFFF; position: relative; top: 12px; right: 5px;}') #{user.twitter.displayName}
      a.small(href='/logout', style='color: #ccc;')  (logout)
  div#container
    div.row(ng-controller='MainController')
      div.small-12.medium-12.large-6.large-centered.columns
        div#box
          div#title
            h2 {{ date | date:'EEEE, dd MMMM yyyy' }}

          div.container
            div#list_item
              //- input#toggle-all(type='checkbox', style='display: none;')
              //- label(for='toggle-all', style='display:none;')

              ul#todo-list
                li.item(ng-repeat='todo in todos', ng-class="{done: todo.done}")
                  div.item_check(ng-class="{item_check_active: todo.done}")
                    div.text-center
                      i.icon-ok
                  div.view.item_content(ng-click='toggleDone(todo._id)', ng-class="{item_content_active: todo.done}")
                    label {{ todo.text }}
                    a.destroy(ng-click='deleteTodo(todo._id)')

                  //- input.edit(type='text', value='{{ todo.text }}')

          div#write
            form(ng-submit='createTodo()')
              input#new-todo(type='text', placeholder='Add a new Task', ng-model="formData.text")
              span +
      //- p.
      //-   todos count: {{ todos.length }}

      //- form
      //-   input(type='text', placeholder='enter a todo', ng-model='formData.text')
      //-   button(type='submit', ng-click='createTodo()') Submit

      //- ul
      //-   li(ng-repeat="todo in todos").
      //-     {{ todo.text }}
