extends layout

block content
  div.row(ng-controller='MainController')
    div#landing
      div.small-12.medium-12.large-6.large-centered.columns
        div.text-center
          h1 corona
          h2 Not just another To-do List app
          button Sign in with twitter