extends layout

block content
  div#landing
    div.row
      div.small-12.medium-12.large-12.large-centered.columns
        div.text-center
          h1: a(href='/landing'): img(src='/img/logo@2x.png')
          h2 Not just another To-do List app.
          a(href="/auth/twitter"): button#twitter_button: span.icon-twitter  
          												  //span Sign in with twitter