doctype html
html
  head
    title Corona
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(src='//use.typekit.net/jge0btp.js')
    script try{Typekit.load();}catch(e){}
    style [ng-cloak] { display: none; }

  body(ng-app='corona')

    block content
  
  script(src='/js/vendor/jquery.js')
  script(src='/js/foundation.min.js')
  script(src='/js/foundation.dropdown.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
  script(src='/js/corona.js')
  script(src='/js/directives/todoEscape.js')
  script(src='/js/directives/todoFocus.js')
  script.
    $(document).foundation();
    // var bgs = ['bg_1','bg_1_blur','bg_2','bg_2_blur'];
    // var bg = bgs[Math.floor(Math.random()*bgs.length)];
    //var items = ['turquoise','peter-river','amethyst','wet-asphalt','green-sea','nephritis','belize-hole','wisteria','midnight-blue','sun-flower','orange'];
    //var item = items[Math.floor(Math.random()*items.length)];
    $(document).ready(function(){

      $("#add_task").click(function () {
               $("html, body").animate({ scrollTop: 0 }, "slow");
      });


      //Color de Header
      //$("#container").addClass(bg);
      //$("#title").addClass(item);
      // $(".item_content").click(function( event ) {
      //     event.preventDefault();
      //     $(this).addClass("item_content_active");
      //     $(this).siblings(".item_check").addClass("item_check_active");
      //     $(this).find("span").addClass("done-true");
      // });
    });