doctype html
html
  head
    title Goal
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(src='//use.typekit.net/jge0btp.js')
    script try{Typekit.load();}catch(e){}
    style.
      body {
        font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.4em;
        -webkit-font-smoothing: antialiased;
      }

      #todo-list .destroy {
        position: absolute;
        right: 5px;
        top: 20px;
        display: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: url(img/destroy.png) no-repeat;
      }

      #todo-list li:hover .destroy {
          display: block;
      }

      #todo-list .destroy:hover {
          background-position: 0 -20px;
      }

  body(ng-app='goal')

    block content
  
  script(src='/js/vendor/jquery.js')
  script(src='/js/foundation.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
  script(src='/js/goal.js')
  script.
    $(document).foundation();
    var bgs = ['bg_1','bg_1_blur','bg_2','bg_2_blur'];
    var bg = bgs[Math.floor(Math.random()*bgs.length)];
    var items = ['turquoise','peter-river','amethyst','wet-asphalt','green-sea','nephritis','belize-hole','wisteria','midnight-blue','sun-flower','orange'];
    var item = items[Math.floor(Math.random()*items.length)];
    $(document).ready(function(){
      //Color de Header
      $("body").addClass(bg);
      $("#title").addClass(item);
      // $(".item_content").click(function( event ) {
      //     event.preventDefault();
      //     $(this).addClass("item_content_active");
      //     $(this).siblings(".item_check").addClass("item_check_active");
      //     $(this).find("span").addClass("done-true");
      // });
    });