/*-----------------------------------------------------------------------------------

  1.  Document Setup
  2.  Landing Page
  3.  To Do List Page

-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  1.  Document Setup
/*-----------------------------------------------------------------------------------*/
/* line 14, ../scss/custom.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 21, ../scss/custom.scss */
body {
  font-family: "jaf-bernino-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../scss/custom.scss */
#top-bar {
  position: fixed;
  padding-right: 55px;
  height: 55px;
  width: 100%;
  background: #2E3435;
  z-index: 999;
  background-image: -o-linear-gradient(-90deg, #2e3435 0%, #3e4647 100%);
  background-image: -moz-linear-gradient(-90deg, #2e3435 0%, #3e4647 100%);
  background-image: -webkit-linear-gradient(-90deg, #2e3435 0%, #3e4647 100%);
  background-image: -ms-linear-gradient(-90deg, #2e3435 0%, #3e4647 100%);
  background-image: linear-gradient(-180deg, #2e3435 0%, #3e4647 100%);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 47, ../scss/custom.scss */
#top-bar .row {
  max-width: none;
}
/* line 49, ../scss/custom.scss */
#top-bar .row h1 {
  text-align: center;
  line-height: 1;
}
/* line 53, ../scss/custom.scss */
#top-bar .row h1 a img {
  width: 91px;
  height: 17px;
}
/* line 59, ../scss/custom.scss */
#top-bar .row #username {
  display: none;
  color: #FFFFFF;
  font-family: "museo-sans",sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 55px;
}
/* line 68, ../scss/custom.scss */
#top-bar .top_bar_user {
  text-align: right;
}
/* line 71, ../scss/custom.scss */
#top-bar #profile_pic {
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}
/* line 77, ../scss/custom.scss */
#top-bar #add_task {
  width: 55px;
  height: 55px;
  background-color: #45e5cb;
  position: absolute;
  right: 0px;
  background-image: -o-linear-gradient(-90deg, #35c2ab 0%, #45e5cb 100%);
  background-image: -moz-linear-gradient(-90deg, #35c2ab 0%, #45e5cb 100%);
  background-image: -webkit-linear-gradient(-90deg, #35c2ab 0%, #45e5cb 100%);
  background-image: -ms-linear-gradient(-90deg, #35c2ab 0%, #45e5cb 100%);
  background-image: linear-gradient(-180deg, #35c2ab 0%, #45e5cb 100%);
  text-align: center;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
/* line 94, ../scss/custom.scss */
#top-bar #add_task span {
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 55px;
}
/* line 99, ../scss/custom.scss */
#top-bar #add_task:hover {
  background-image: none;
  background-color: #45e5cb;
}

/*-----------------------------------------------------------------------------------*/
/*  2.  Landing Page
/*-----------------------------------------------------------------------------------*/
/* line 111, ../scss/custom.scss */
body {
  display: table;
}

/* line 115, ../scss/custom.scss */
#landing {
  display: table-cell;
  vertical-align: middle;
}
/* line 119, ../scss/custom.scss */
#landing h1 {
  margin: 0;
}
/* line 121, ../scss/custom.scss */
#landing h1 img {
  width: 191px;
  height: 144px;
}
/* line 127, ../scss/custom.scss */
#landing h2 {
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.8rem;
  color: #7C7C7C;
  margin: 50px auto;
}
/* line 136, ../scss/custom.scss */
#landing #twitter_button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #00ACED;
  border: 1px solid #009DD9;
  border-bottom: 2px solid #009DD9;
  font-family: "museo-sans",sans-serif;
  font-style: normal;
  font-weight: 100 !important;
  outline: none;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 01s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
/* line 154, ../scss/custom.scss */
#landing #twitter_button span {
  color: #FFFFFF;
  font-size: 1.1rem;
  margin-left: 8px;
}
/* line 159, ../scss/custom.scss */
#landing #twitter_button .icon-twitter {
  color: #FFFFFF;
  font-size: 1rem;
}
/* line 164, ../scss/custom.scss */
#landing #twitter_button:hover {
  background-color: #00B2F5;
  border: 1px solid #00B2F5;
  border-bottom: 2px solid #009DD9;
}
/* line 170, ../scss/custom.scss */
#landing #twitter_button:active {
  background-color: #00ACED;
  border: 1px solid #009DD9;
  border-top: 2px solid #009DD9;
}

/*-----------------------------------------------------------------------------------*/
/*  3.  To Do List Page
/*-----------------------------------------------------------------------------------*/
/* line 187, ../scss/custom.scss */
#container {
  height: 100%;
  background-color: #ECF0F1;
}

/* line 192, ../scss/custom.scss */
.bg_1 {
  background: url("../img/bg_1.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}

/* line 201, ../scss/custom.scss */
.bg_1_blur {
  background: url("../img/bg_1_blur.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}

/* line 210, ../scss/custom.scss */
.bg_2 {
  background: url("../img/bg_2.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}

/* line 219, ../scss/custom.scss */
.bg_2_blur {
  background: url("../img/bg_2_blur.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}

/* line 228, ../scss/custom.scss */
#todo-list .destroy {
  position: absolute;
  right: 5px;
  top: 20px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../img/destroy.png) no-repeat;
}

/* line 239, ../scss/custom.scss */
#todo-list li:hover .destroy {
  display: block;
}

/* line 243, ../scss/custom.scss */
#todo-list .destroy:hover {
  background-position: 0 -20px;
}

/* line 247, ../scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "jaf-bernino-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'goal';
  src: url("../font/goal.eot?40247410");
  src: url("../font/goal.eot?40247410#iefix") format("embedded-opentype"), url("../font/goal.woff?40247410") format("woff"), url("../font/goal.ttf?40247410") format("truetype"), url("../font/goal.svg?40247410#goal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'goal';
    src: url('../font/goal.svg?40247410#goal') format('svg');
  }
}
*/
/* line 274, ../scss/custom.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "goal";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 305, ../scss/custom.scss */
.icon-ok:before {
  content: '\e800';
}

/* '' */
/* line 306, ../scss/custom.scss */
.icon-plus-1:before {
  content: '\e803';
}

/* '' */
/* line 307, ../scss/custom.scss */
.icon-twitter:before {
  content: '\e801';
}

/* '' */
/* line 309, ../scss/custom.scss */
.mask {
  position: absolute;
  background: url("../img/bg.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 326, ../scss/custom.scss */
#write {
  position: relative;
}
/* line 328, ../scss/custom.scss */
#write input[type="text"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: "jaf-bernino-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ACACAC;
  display: block;
  margin: 0 0 0 0;
  height: 50px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  padding: 1rem 60px 1rem 20px;
  font-size: 1.2rem;
  background: #FDFDFD;
  border: none;
  border-top: 1px solid #e3e3e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 356, ../scss/custom.scss */
#write input[type="text"]:focus {
  outline: none;
}
/* line 358, ../scss/custom.scss */
#write input[type="text"]:focus + span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 364, ../scss/custom.scss */
#write span {
  font-family: "jaf-bernino-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  position: absolute;
  right: 20px;
  top: 5px;
  color: #ACACAC;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* line 381, ../scss/custom.scss */
#box {
  margin-top: 0.9375rem;
}
/* line 383, ../scss/custom.scss */
#box #title {
  background-color: #27ae60;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 388, ../scss/custom.scss */
#box #title h2 {
  color: #FFFFFF;
  font-weight: 100;
}
/* line 393, ../scss/custom.scss */
#box .container {
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 398, ../scss/custom.scss */
#box #list_item {
  background-color: #FFFFFF;
  color: #3A3A3A;
}
/* line 401, ../scss/custom.scss */
#box #list_item .item {
  border-bottom: 1px solid #e3e3e3;
  background-color: #27ae60;
  overflow: hidden;
  position: relative;
}
/* line 406, ../scss/custom.scss */
#box #list_item .item .item_content {
  padding: 1rem 20px;
  background-color: #FFFFFF;
  width: 100%;
  float: right;
  cursor: pointer;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}
/* line 416, ../scss/custom.scss */
#box #list_item .item .item_content label {
  font-size: 20px;
}
/* line 419, ../scss/custom.scss */
#box #list_item .item .item_content:active {
  background-color: #FAFAFA;
}
/* line 423, ../scss/custom.scss */
#box #list_item .item .item_content_active {
  width: 85%;
}
/* line 426, ../scss/custom.scss */
#box #list_item .item .item_check {
  height: 100%;
  position: absolute;
  width: 15%;
  background: #E0E0E0;
  left: -15%;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
}
/* line 436, ../scss/custom.scss */
#box #list_item .item .item_check .text-center {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 441, ../scss/custom.scss */
#box #list_item .item .item_check .text-center .icon-ok {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
/* line 452, ../scss/custom.scss */
#box #list_item .item .item_check_active {
  left: 0;
}
/* line 455, ../scss/custom.scss */
#box #list_item .item:last-child {
  border: none;
}

/* line 462, ../scss/custom.scss */
hr {
  border: solid #FFFFFF;
  border-width: 1px 0 0;
}

/* line 467, ../scss/custom.scss */
.done-false {
  text-decoration: none;
  -webkit-transition: text-decoration ease 0.8s;
  -moz-transition: text-decoration ease 0.8s;
  -ms-transition: text-decoration ease 0.8s;
  -o-transition: text-decoration ease 0.8s;
  transition: text-decoration ease 0.8s;
}

/* line 476, ../scss/custom.scss */
.done-true {
  text-decoration: line-through;
  -webkit-transition: text-decoration ease 0.8s;
  -moz-transition: text-decoration ease 0.8s;
  -ms-transition: text-decoration ease 0.8s;
  -o-transition: text-decoration ease 0.8s;
  transition: text-decoration ease 0.8s;
  color: #b3b3b1;
}

/* line 487, ../scss/custom.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* line 495, ../scss/custom.scss */
.turquoise {
  background-color: #1abc9c !important;
}

/* line 499, ../scss/custom.scss */
.peter-river {
  background-color: #3498db !important;
}

/* line 503, ../scss/custom.scss */
.amethyst {
  background-color: #9b59b6 !important;
}

/* line 507, ../scss/custom.scss */
.wet-asphalt {
  background-color: #34495e !important;
}

/* line 511, ../scss/custom.scss */
.green-sea {
  background-color: #16a085 !important;
}

/* line 515, ../scss/custom.scss */
.nephritis {
  background-color: #27ae60 !important;
}

/* line 519, ../scss/custom.scss */
.belize-hole {
  background-color: #2980b9 !important;
}

/* line 523, ../scss/custom.scss */
.wisteria {
  background-color: #8e44ad !important;
}

/* line 527, ../scss/custom.scss */
.midnight-blue {
  background-color: #2c3e50 !important;
}

/* line 531, ../scss/custom.scss */
.sun-flower {
  background-color: #f1c40f !important;
}

/* line 535, ../scss/custom.scss */
.orange {
  background-color: #f39c12 !important;
}

@media only screen and (min-width: 40.063em) {
  /* line 540, ../scss/custom.scss */
  #box {
    margin-top: 250px;
  }

  /* line 544, ../scss/custom.scss */
  .top_bar_user #username {
    display: inline-block;
  }
}
